#top{
	text-align: center;
}
body{
	background-color: #C8C8FF;
	font-family: Verdana, Tahoma, "sans-serif";
}
a{
	opacity: 0;
	width: 100%;
}
a:hover{
	opacity: 100;
}
h1{
	text-align: center;
	margin-top: 10%;
}