body{
	font-family: Verdana, Tahoma, "sans-serif";
	background-color: #C8C8FF;
	margin: 10%;
}
h1{
	font-size: 50px;
}
#info{
	width: 230px;
	text-align: justify;
}

button[type = "submit"]{
	width: 100px;
	height: 30px;
	margin-top: 10px;

}