body{
	font-family: Verdana, Tahoma, "sans-serif";
	background-color: #262626;
	color: #434343;
}
a{
	text-decoration: none;
	color: white;
}
body #main{
	padding: 50px 30px;
	background-color: white;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	margin-top: 20px;
	text-align: center;
}
#main button {
	background-color: rgba(92,216,133,1);
	padding: 0px;
	border: 0px;
	color: white;
	font-size: 14pt;
	height: 50px;
	width: 85%;
	max-width: 400px;
	margin: 10px;
	line-height: 1;
	font-size: 1.25em;
	opacity: 0.66;
}
#main button:hover{
	opacity: 0.95;
}
button#custom-login-btn{
	background: #fff000;
	color: #602814;
}
button#fb{
	background: #0033ff;
	color: white;
}
button#gg{
	background: #ff0000;
	color: white;
}
#title{
	margin-top: 45px;
	font-size: 14pt;
}
header h1 {
	margin-top: 10px;
	font-size: 30pt;
	color: green;
}
form{
	padding-left: 0px;
}
form{
	list-style-type: none;
}
form input{
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 3%;
	display: inline-block;
	height: 50px;
	width: 82%;
	max-width: 400px;
	font-size: 16pt;
}
form label{
	display: none;
}
#signup{
}
#bar{
	height: 50px;
	position: relative;
}
#bar p{
	display: inline-block;
	width: 15%;
}
.bar{
	position: absolute;
	top: 25px;
	display: inline-block;
	width: 35%;
	border-bottom: solid 1px black;
}
.barleft{
	left: 25px;
}
.barright{
	right: 25px;
}

/************************ Media Query ************************/
/* 스마트폰 가로+세로 */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	body #main{
		padding: 5% 3%;
		border-radius: 2%;
		width: 95%;
		margin-top: 1%;
	}
	#main button {
		font-size: 400%;
		height: 200%;
		line-height: 200%;
		width: 85%;
		max-width: 90%;
		margin: 4%;
	}
	#title{
		margin-top: 5%;
		font-size: 250%;
	}
	header h1 {
		margin-top: 5%;
		font-size: 800%;
		color: purple;
	}
	form input{
		font-size: 18pt;
		margin: 4%;
		padding-left: 2%;
		font-size: 400%;
		height: 200%;
		line-height: 200%;
		width: 82%;
		max-width: 90%;
	}
	#bar{
		height: 50%;
	}
	#bar p{
		font-size: 250%;
	}
	.bar{
		top: 50%;
	}
	.barleft{
		left: 10%;
	}
	.barright{
		right: 10%;
	}
}
 
 /* 스마트폰 가로 */
@media only screen and (min-width : 321px) {

 
 /* 스마트폰 세로 */
@media only screen and (max-width : 320px) {
	
	
}
 
/* iPhone4와 같은 높은 크기 세로 */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
}
 
/* iPhone4와 같은 높은 해상도 가로 */
@media only screen and (min-width : 640px) {
}
 
/* iPad 가로+세로 */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	body #main{
		padding: 5% 3%;
		border-radius: 2%;
		width: 80%;
		margin-top: 1%;
	}
	#main button {
		font-size: 230%;
		height: 200%;
		line-height: 200%;
		width: 75%;
		margin: 2%;
	}
	#title{
		margin-top: 5%;
		font-size: 200%;
	}
	header h1 {
		margin-top: 3%;
		font-size: 400%;
		color: red;
	}
	form input{
		margin: 3%;
		padding-left: 3%;
		font-size: 200%;
		height: 150%;
		line-height: 150%;
		width: 75%;
	}
	#bar{
		height: 50%;
	}
	#bar p{
		font-size: 200%;
	}
	.bar{
		top: 50%;
	}
	.barleft{
		left: 10%;
	}
	.barright{
		right: 10%;
	}
}
 
/* iPad 가로 */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}
 
/* iPad 세로 */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	
}
 
/* 데스크탑 브라우저 가로 */
@media only screen and (min-width : 1224px) {
body{
	font-family: Verdana, Tahoma, "sans-serif";
	background-color: #262626;
	color: #434343;
}
a{
	text-decoration: none;
	color: white;
}
body #main{
	padding: 50px 30px;
	background-color: white;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	margin-top: 20px;
	text-align: center;
}
#main button {
	background-color: rgba(92,216,133,1);
	padding: 0px;
	border: 0px;
	color: white;
	font-size: 14pt;
	height: 50px;
	width: 85%;
	max-width: 400px;
	margin: 10px;
	line-height: 1;
	font-size: 1.25em;
	opacity: 0.66;
}
#main button:hover{
	opacity: 0.95;
}
button#custom-login-btn{
	background: #fff000;
	color: #602814;
}
button#fb{
	background: #0033ff;
	color: white;
}
button#gg{
	background: #ff0000;
	color: white;
}
#title{
	margin-top: 45px;
	font-size: 14pt;
}
header h1 {
	margin-top: 10px;
	font-size: 30pt;
	color: blue;
}
form{
	padding-left: 0px;
}
form{
	list-style-type: none;
}
form input{
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 3%;
	display: inline-block;
	height: 50px;
	width: 82%;
	max-width: 400px;
	font-size: 16pt;
}
form label{
	display: none;
}
#signup{
}
#bar{
	height: 50px;
	position: relative;
}
#bar p{
	display: inline-block;
	width: 15%;
}
.bar{
	position: absolute;
	top: 25px;
	display: inline-block;
	width: 35%;
	border-bottom: solid 1px black;
}
.barleft{
	left: 25px;
}
.barright{
	right: 25px;
}
 
/* 큰 모니터 */
@media only screen and (min-width : 1824px) {
}

