html{
    height: 100%;
    background: url("../images/background/1.jpeg") center center fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-background-size : cover;
    -moz-background-size: cover;
    background-size: cover;

}

body{
    background-color: rgba(255, 255, 255, 0.35);
    font-family: Verdana, Tahoma, "sans-serif";
    margin: 0px;
    height : 100%;
}
/*
video { 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  transition: 1s opacity;
}*/

/*Side bar*/
#sidebutton,a{
    outline:0;
    overflow:visible;
    cursor:pointer;
    border:0;
    background-color:transparent;
    text-decoration:none;
}
ul,li{
    list-style-type:none;
    font-size:11pt;
    padding:0;
    background: none;
    text-align: center;
}
#menuleft{
    left:-50%;
    position:fixed;
    top:0;
    width:50%;
    height:100%;
    z-index:1000;
    border-right:1px solid #000;
    background-color: rgba(255, 255, 255, 0.75);
    display:block
}

#menuleft.slide{
    left:0
}

#menuleft a{
    display:block;
    width:98%;
    padding:10px 0 10px 2%;
    color:#424242;
    border-bottom:1px solid white
}
#all{
    display:block;
    width:100%;
    height:100%;
}

#all.hide{
    position:fixed;
    left:50%;
    top:0;
    width:100%
}

#all.slide{
    position:relative;
}

.slide,.hide{
    transition: all 0.2s ease;
}   
.overlay{
    left:0;
    top:0;
    transition: all 0.2s ease;
}
.overlay.show{
    position:fixed;
    left:50%;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.8);
    z-index:9999
}

/*Top bar*/
#real{ 
    width: 100%;
    height: 100%; 
}
#sidebutton{
    /* height: 40%; */
    width: 45px;
    float: left;
    /* margin: 5px; */
    /* margin-top: 10px; */
    font-size:300%;
    margin:0;
    /*padding-left: 5px;*/

}
div#topbar{
    height: 7%;
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
}

div#topbar *{
    display: inline-block;
    color: white;
}

#gsearch{
    display: inline;
    margin: 4px;
    margin-left: auto;
    margin-right: auto;
    /* 크기 생략 
    width: 40%;*/
    text-align: center;
    /* 크기 키움 */
    width: 50%;
}
#gsearch form{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-top: 5px;
}
#gsearch input{
    font-size: 14pt;
    text-align: center;
    border-radius: 0px;
    margin: 4px;
    border: 0px;
    border-bottom: 1px solid white;
    background: none;
    background: url("../images/search.png") left center no-repeat ;
    background-size: 20px 20px;
    width: 60%;
    color: #FFFFFF;
}
#gsearch input:focus{
    width: 80%;
    outline: medium none;
    border-bottom: 1px solid white;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}
#gsearch button{
    display: none;
}
#topbar form{
    float: right;
}
#info{
    width: 10%;
    font-size: 11pt;
    float: right;
}
#setting{
    background: none;
    border: 0;
}
#setting img{
    padding-top: 15px;
    width:35px;

}
#setting_li{
    position : absolute;
    top:8%;
    right: 1%;
    float: right;
    color:white;
    background-color:  rgba(0, 0, 0, 0.4);
}
#setting_li li{
    padding: 5px;
}

#setting_li form{
    font-size: 10pt;

}

.logout{
    background-color: rgba(0,0,0,0);
    padding: 5px;
    border: 0px;
    font-size: 11pt;
    width: 100%;
    /* 버튼 커서 모양 속성 추가 */
    cursor: pointer;
    color:white;
    border-top: 1px solid white;
}
/*memo*/
/*
.accordion__container {
    font-size: 150%;
    padding: 2%;  
}
.accordion__tab {
    font-size: 150%;
    background: #aaa;
    border-bottom: 1px solid white;
}
.accordion__tab-title {
    font-size: 150%;
    background: #888;
    padding: 2%;
    cursor: pointer;
}
.accordion__tab-content {
    font-size: 150%;
    background: #999;
    padding: 5%;
    white-space:normal;
    word-break:break-all;
}*/
#memo{
    position: absolute;
    top:10%;
    height: 85%;
    width: 90%;
    left: 4%;
    border:2px solid;
    border-radius: 1em;
    background-color:rgba(245, 245, 220, 0.54);
}
#memo_top{
    width: 100%;
    height:25px;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    border: 1px solid;
    border-bottom: 3px solid;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
#memo_top span{
    margin-left:20%;
}
#memo_top button{
    float:right;
    width: 10%;
    font-size: 15pt;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    padding: 0;
    padding-right: 1%;

}
.save{
    display: none;
}
#memo ul{
    margin: 0;
}
#memo ul li{
    padding-top: 10px;
    padding-bottom: 10px;
}
.memo_sec{
    position:absolute;
    top:40px;
    height:93%;
    width: 100%;
    
}
.memo_title{
    border-bottom:1px solid white;
    width: 100%;
    padding-top:8px;
    padding-bottom: 8px;
}
.memo{

    background-color:rgba(255, 249, 131, 0.99);
    display: inline-block;
    width: 100%;
    height: 100%;
    border-bottom: 1px;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}

.memo_txt{
    border: 0;
    width: 96%;
    height: 96%;
    padding:2%;
    font-size: 12pt;
    background:none;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}