html{ height: 100%; }
#main{ height : 100%; }
#home{ height: 100%; }

body{
	background: url("../images/snow.gif") center center fixed;
	background-size: 100%;
	/* background-color: #ededed; */
	background-repeat: no-repeat;
	-webkit-background-size : cover;
	-moz-background-size: cover;
	background-size: cover;

	font-family: Verdana, Tahoma, "sans-serif";
	margin: 0px;
	height : 100%;
}
#real{ 
	height: 100%;
	/* 배경화면 색상 생략
	background-color: rgba(255,255,255,0.5);*/
}

p{
	font-size: 20px;
	text-align: center;
	margin-top: 10%;
}
/* 버튼 배경색상 생략
button{
	background-color: rgba(255,255,255,0.73);
}*/

#dock{
	/* 독바의 크기와 배경색상 생략
	width: 100%;
	height: 60px;
	background-color: rgba(0,0,0,0.8);*/
	bottom: 0%;
	left: 0%;
	position: fixed;
	vertical-align: middle;
	/* 독바의 크기 재설정 */
	width: 25%;
	height: auto;
	margin-left: 1%;
	margin-bottom: 1%;
}
#ddock{
	height: 100%;
}
.subdock{
	display:inline;
	height : 100%;
	float : left; 
}
/* 왼쪽과 가운데 독바 관련 속성 생략
#leftdock, #rightdock{
	width: 43%;
}
#leftdock{ padding-right: 2%;}*/
#rightdock{ 
	padding-left: 2%;
	/* 오른쪽 독바 관련 속성 추가 */
	width: 43%;
}
#rightdock img{
	padding-left: 5px;
}
/* 왼쪽과 가운데 독바 관련 속성 생략
#centerdock{
	width: 10%;
	text-align: center;
}
#rightdock img, #leftdock img{
	padding-left: 5px;
}*/

#dock img{
	/* 오른쪽 독바 이미지(파비콘) 크기 생략
	width : 50px;
	height: 50px;*/
	margin-top: 5px;
	margin-left: 10px;
	/* 크기 재설정 */
	width: 10%;
	height: 10%;

}

#apps{
	width: 100%;
	height: 100%;
	min-width: 70px;
	max-width: 84px;
	/* 앱서랍 버튼의 배경색상 생략
	background-color: rgba(255, 255, 255, 0.35);*/
	border: none;
	/* 앱서랍 버튼의 폰트 크기 생략
	font-size: 13pt;*/
	/* 앱서랍 버튼 속성 추가 */
	color: white;
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	display: inline;
	margin-left: 3%;
	cursor: pointer;
}
/* 앱서랍 버튼 hover속성 생략
#apps:hover{
	opacity: 0.7;
}*/
#dock #panel a{
	opacity: 1;
}

#dock #panel a img{
	/* 파비콘 크기 생략
	width: 50px;
	height: 50px;*/
	margin-top: 10px;
	margin-left: 10px;
	/* 크기 재설정 */
	width: 30px;
	height: 30px;
}

#modifyurl{
	/* addurl 버튼(+) 정렬(?) 생략
	float :right;*/
	width: 100%;
	right: 5;
}
/* 로그아웃 버튼 옆 사용자 이름 속성 생략
p.logout{
	float: left;
	margin-top: 10px;
}*/

button.logout{
	background-color: rgba(0,0,0,0);
	padding: 0px;
	border: 0px;
	/* 버튼 커서 모양 속성 추가 */
	cursor: pointer;
}
#logout{
	margin-top: 2px;
	width: 35px;
	height: 35px;
}
#trash {
	position: absolute;
	right: 0px;
	bottom: 5px;
	/* 폰트 속성 추가 */
	color: white;
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* 현재 이미지 대신 글씨로 대체하였으므로 생략
#trash img{
	width: 50px;
	height : 50px;
}*/

#panel{
	text-align: center;
	background-color: rgba(0,0,0,0.6);
	position:relative;
	min-height: 180px;
	margin-top: 0px;
	/* 패널의 모서리 반경(?) 크기 생략 
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;*/
	/* 크기 재설정 및 추가 */
	border-bottom-left-radius: 5%;
	border-bottom-right-radius: 5%;
	border-radius: 3%;
}
/* 왼쪽 독바 관련 속성 생략
#leftdocklist li{
	display: inline;
}
#leftdocklist {
	margin-right: 10px;
	margin-top : 0%;
	margin-left : 0%;
	margin-bottom : 0%;
	padding-left: 0%;
	float:right;
}*/
#rightdocklist li{
	display: inline;
}
#rightdocklist {
	margin : 0%;
	padding-left: 0%;
}
#panel ul{
	margin: 0%;
	padding-left: 0%;
	/* 리스트의 구분점 생략 */
	list-style-type: none;
}
#panel ul li{
	display: inline-block;
}
#panelul li a img{
	padding: 0px;
	border-radius: 10px;
}
#addurl{
	/* url 추가 버튼의 배경색상 생략
	background-color: rgba(0,0,0,0);*/
	border: none;
	/* 속성 추가 */
	color: gray;
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	padding: 3%;
	float: right;
}
#dock li a img{ 
	padding: 0px;
	border-radius: 10px;
}
/* 현재 이미지 대신 글자를 사용하므로 생략
#addurl img{
	width: 30px;
	height : 30px;
}*/

#addlist{
	display: none;
	color:white;
	padding: 5px;
	float: right;
	clear: both;
	margin: 0;
	list-style-type: none;
	margin-top: 1px;
}
#addlist li:hover{
	background-color: rgba(192, 190, 190, 0.78);
}

.widget{
	display: inline-block;
	margin: 5px;
	padding: 5px;
	border: 1px rgba(192, 190, 190, 0.78);
	background-color: rgba(192, 190, 190, 0.78);
}
.w_memo{ 
	display: inline-block;
	background: yellow;
	bax-shadow: 5px 5px 5px rgba(100,100,100,0.5);
}
.w_memo:hover{
	outline-color: rgb(202, 139, 70);
	outline-style: double;
}
.w_memo textarea{
	background-color: rgba(0,0,0,0);
	border: 0;
	font-size: 13pt;
	}
.delmemo{
	height: 20px;
}
.end{
	float: right;
	width: 15px;
}
#end_sec{
	height: 22px;
}
#todolists{
	width: 15%;
	border: 3px solid orange;
	border-radius: 10px;
	background-color: white;
	padding: 10px;
}
#todolist{
	padding: 0;
}
#todolist li{
	list-style: none;
}

div#topbar{
	height: 40px;
	/* 탑바의 배경색상 생략
	background-color: #232323;*/
	vertical-align: middle;
	text-align: center;
}
div#topbar *{
	display: inline-block;
	color: white;
}
/* 가운데 시계 및 인사말 div 속성 추가 */
.center{
	position: absolute;
	z-index: 3;
	top: 50%;
	left: 50%;
	width: auto;
	text-align: center;
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-transform: translate(-50%,-50%);
	-webkit-transform-origin: 50% 50%;
}
.clock{
	/* 시계 속성 생략
	margin-top: 10px;*/
	/* 속성 추가 */
	position: relative;
	text-align: center;
	font-size: 160px;
	font-weight: lighter;
	color: white;
}
/* 인사말 속성 추가 */
.greeting{
	text-align: center;
	font-size: 54px;
	font-weight: lighter;
	color: white;
}
#info{
	width: 25%;
	font-size: 11pt;
	float: right;
}
#info form p{
	font-size: 11pt;
}
/* 탑바의 시계 생략
#topbar .clock{
	float: right;
}*/
#topbar form{
	margin-left: 20px;
	float: right;
}
#wid_set{
	margin: 0px;
	padding-left: 0px;
	width: 25%;
	float: left;
}
#wid_set ul{
	margin: 0px;
	padding: 0px;
}
#wid_set li{
	margin: 0px;
	padding: 10px 15px;
}
#addwid{
	position: relative;
}
ul#addlist{
	position: absolute;
	top: 40px;
	left: 0px;
	background-color: #232323;
}
#addlist li{
	display: inherit;
	padding: 10px 7px;
}
#wid_set li:hover{
	background-color: rgba(192, 190, 190, 0.78);
}
#gsearch{
	display: inline;
	margin: 4px;
	margin-left: auto;
	margin-right: auto;
	/* 크기 생략 
	width: 40%;*/
	text-align: center;
	/* 크기 키움 */
	width: 50%;
}
#gsearch form{
	display: block;
	width: 100%;
	margin: 0 auto;
}
#gsearch input{
	font-size: 14pt;
	text-align: center;
	border-radius: 20px;
	margin: 4px;
	border: 0px;
	width: 35%;
	color: #454545;
}
#gsearch input:focus{
	width: 60%;
	outline: medium none;
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: ease;
}
#gsearch button{
	display: none;
}
#apps img{
	margin: 0px;
	margin-top: 2px;
	/* 크기 생략
	width: 45px;
	height: 45px;*/
	opacity: 0.6;
	/* 크기 재설정 */
	width: 30%;
	height: 30%;
}
