.accordion__container {
    padding: 2%;
}
.accordion__tab {
    background: #aaa;
    color: #fff;
    border-bottom: 1px solid white;
}
.accordion__tab-title {
    background: #888;
    padding: 2%;
    cursor: pointer;
}
.accordion__tab-content {
    background: #999;
    padding: 5%;
    
}