<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<meta charset="utf-8" />
		<link href="/pages/login.css" rel="stylesheet"
                type="text/css">
	</head>
	<body>
		<div class = "logo">
			<img src="../image/pivot.png" alt="pivot">
		</div>
		<div class = "login">
			<h2>Login</h2>
			<div class = "login">
				<form action = "login" method = "post">
					<label for="NAME">ID :</label>
					<input type = "text" name = "NAME" /> <br />
					<label for="pwd">Password :</label>
					<input type = "password" name = "pwd" /> <br />
					<input type = "submit" value ="Login" />
				</form>
			</div>
		</div>
		<div class = "signup">
			<h2>If you don't have a account, please sign up</h2>
			<a href="signup"><button>Sign up</button></a>
		</div>
	</body>
</html>
